/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Side Navigation and PDF/ */

:root
{
	--Secondary: #CDE0E7;
	--Darkest: #000000;
	--Light: #DADEE1;
	--Lightest: #FFFFFF;
	--Medium: #A4AAAE;
	--FontFamily: Arial, Avenir, Myriad;
	--LogoImage: url('../Images/newmeglogoooooo0.png');
	--LogoImagePrint: url('../Images/newmeglogoooooo1.png');
	--HeroImage: url('../Images/digital-accessibility.jpg');
	--Primary: #2f4f4f;
	--Dark: #696969;
}

