/*Home Wrapper*/
.indexwrapper{
    display:grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 2fr 2fr;
    height: 80vh;
    background-image: url('../images/backgroundimage.jpg');
    background-size: cover;
}



/*Navigation Bar*/
nav li{
    list-style-type: none;
    background-color: rgba(92, 123, 153, 0.676);
    margin: 1rem;
    padding:15px;
    border-radius: 10%;

    }

nav a {
    text-decoration: none;
    color: rgb(230, 225, 225);
    font-size: 1.1rem;
    font-family:"Mulish", FingerPaint, Arial; ;
    }

nav a:hover{
    color:rgb(172, 173, 174);
    
    }

nav ul{
    display:flex;
    justify-content:center;
    background-color:rgb(141, 132, 156);
    padding: 15px;
    margin: 0;
    flex-wrap: wrap;


}

ul li ul{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    top: 100%;
    left: 0;
    display: none;
    align-content: center;
    padding: 0;
    margin: 0;


}
ul li{
    position: relative;
}

ul li:hover>ul,
ul li:focus-within > ul,
ul li ul:hover{
    visibility: visible;
    opacity: 1;
    display: block;
    max-width: fit-content;

}
ul li ul li {
  clear: both;
  width: 100%;
  text-align: center;
  max-width: fit-content;
}

/*Home Page Heading + Blurb*/
h1{
    text-align:center;
    margin: 0;
    color:rgb(21, 108, 146);
    font-size:100px;
    grid-row-start:1;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end:4;
    margin-bottom: 0;
    align-content: center;
    margin-top: 2rem;
    font-family: "Mulish", FingerPaint, Arial;
    font-size: 8rem;
    }

.homep{
    color:rgb(255, 255, 255);
 grid-row-start: 2;
 grid-row-end: 3;
 grid-column-start: 1;
 grid-column-end:  4;
 align-self: end;
 text-align:center;
 justify-self: center;
 background-color:rgb(113, 145, 186);
border-radius: 10%;
padding: 6px;
margin-bottom: 4rem;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:1.2rem;

}


/*Home Footer*/
.homefooter {
    background-color:rgb(141, 132, 156);
    align-items: center;
    justify-content: center;
    color: rgb(48, 44, 73);
    padding: 8px;
    display: flex;
    gap:0.5rem;
    margin:0;
  
    }
.homefooter p{
    color:#fffdfc;
    font-size: 10px;
    justify-content:right;
}
/* Social Media Icons*/

 a.fa-linkedin{
    border-radius: 6px;
    border: 2px solid rgb(37, 107, 154); 
    padding:4px;
    background-color: rgb(37, 107, 154);
    color:white;

}

a.fa-envelope{
    border-radius: 6px;
    color: rgb(214, 220, 224);
    padding: 4px;

}

/*About Me Wrapper*/
body{
    min-height:100vh;
    background-color:rgba(216, 199, 199, 0.803);  
    width:100%;
    margin:auto;
}
    
   
/*About Me Heading*/
.aboutmewrapper h1{
font-size: 70px;
color:rgb(21, 108, 146);
margin-top:0;
    font-family: 'mulish', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/*About Me Image*/
.aboutmeimage img{
width:500px;
float: left;
 border: 2px #f5f1f1 solid; 
 margin-right: 2rem;
 

}
/*About Me Paragraph*/
.aboutmep {
    margin-top:2rem;
    background:rgb(215, 180, 180);
    border: 1.2px #f5f1f1 solid; 
    padding: 2rem;
    font-family: 'mulish', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*About Me Footer*/
.aboutmefooter{
 background-color:rgb(141, 132, 156);
    align-items: center;
    justify-content: center;
    color: rgb(48, 44, 73);
    padding: 8px;
    display: flex;
    gap:0.5rem;
    margin-top:5rem ;
    }

/* Social Media Icons*/

 a.fa-linkedin{
    border-radius: 6px;
    border: 2px solid rgb(37, 107, 154); 
    padding:4px;
    background-color: rgb(37, 107, 154);
    color:white;
}

a.fa-envelope{
    border-radius: 6px;
    color: rgb(214, 220, 224);
    padding: 4px;
}

/*Portfolio Wrapper*/

.portfoliowrapper{
    background-color:rgba(216, 199, 199, 0.803);
    overflow: hidden;
    text-align: center;

/*Portfolio Heading*/
}

.portfoliowrapper img {
    max-width: 200px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 4px;
}
.portfoliowrapper h1{
    margin-top:0;
    font-size:70px;
    font-family: 'mulish', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  

.portfoliowrapper h2{
    color:rgba(11, 92, 126, 0.829);
    font-size: 40px;
}
 /*Portfolio Blurb*/
 .portfolioblurb{
 align-self: end;
 text-align:center;
 justify-self: center;
 font-family: 'mulish', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 margin-bottom:5rem;
}
 

.textwrapper{
    background-color:#ece7e1;
    padding:3rem;
    border:#fffdfc;
    border-radius: 5%;
    max-width: 50rem;
    margin-bottom: 2rem;
}
/*Portfolio First Paragraph*/
 .portfoliop1{
 text-align:left;
  background-color:rgb(215, 180, 180);
  border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin: 1rem auto;
    font-family: 'mulish', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 60rem;
 }

 /*Portfolio Second Paragraph*/
  .portfoliop2{
  background-color:rgb(215, 180, 180);
  border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: left;
    margin: 1rem auto;
    font-family: 'mulish', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 60rem;
 }

/*Portfolio Third Paragraph*/
  .portfoliop3{
 text-align:left;
 background-color:rgb(215, 180, 180);
  border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin: 1rem auto;
    font-family: 'mulish', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 60rem;
 }


 
footer{

 background-color:rgb(141, 132, 156);
    align-items: center;
    justify-content: center;
    color: rgb(48, 44, 73);
    padding: 8px;
    display: flex;
    gap:0.5rem;
    margin-top:5rem ;
    margin:0;
    }


/*Portfolio Links.  STILLLLLLLLLLL WORKIIINNG. ONNNN. ADDD FOOTER TOOOOOOOOOOOO*/




/*Resume Wrapper*/
.resumewrapper{
    min-height:100%;
    background-color:rgba(216, 199, 199, 0.803);  
    width:100%;
}
/*Resume Heading + List */
.resumewrapper h1{
  margin-top:-0.2rem;
    font-family: 'mulish', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
    
}
.resumeul{
list-style-position: outside;
text-align: left;
margin: 0 auto;
max-width: 600px;
background-color: #ece7e1;
border-radius: 2rem;
padding: 4rem;
    font-family: 'mulish', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;



}
/* Heading2 + Footer*/
.resumewrapper h2{
    background-color: rgb(215, 180, 180);
    padding:6px;
}

.resumefooter{
    background-color:rgb(141, 132, 156);
    align-items: center;
    justify-content: center;
    color: rgb(48, 44, 73);
    padding: 8px;
    display: flex;
    gap:0.5rem;
    margin:0;

}

/*Experience Portfolio Wrapper*/
.experiencewrapper{
    min-height: 100vh;
    background-color:rgba(216, 199, 199, 0.803);    
}

/*Experience Portfolio Heading*/
.experienceh1 h1{
margin-top:0;
    font-size:70px;
    font-family: 'mulish', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*Experience Portfolio Marketing Wrapper*/
.experiencewrapperh2{
    display:grid;
    gap: 20px;
    justify-content: space-around;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0rem;
    background-color: #ece7e1;
    border-radius: 3rem;
    padding: 2rem;
    align-content: center;
    max-width: 70rem;
    max-height: fit-content;
    overflow: hidden;
    margin: auto;

}
/*Experience Portfolio Heading2*/
.experiencewrapperh2 h2, 
.experiencewrapperh2 p {
    grid-column: 1 / -1; 
    text-align: center;
    justify-self: center;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .experiencewrapperh2 {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto; }}
/*Experience Portfolio Family Tree Wrapper*/
.familytree{
    margin-top: 8rem;
    background-color: #ece7e1;
    padding: 2rem;
    border-radius: 3rem;
    padding: 2rem;
    align-content: center;
    overflow: hidden;
    max-width: 70rem;
    align-content: center;
    margin:auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.familytree img{
    max-width: 100%;
    height: auto;
    align-content: center;
}
.familytree h2,
.familytree p{
    text-align: center;
}
.resumefooter p{
    color:#f5f1f1;
   font-style: italic;
}

/*Exercises Wrapper*/
.exercises{
    background-color:rgba(216, 199, 199, 0.803);
    min-height:100vh;
}
/*Exercises Heading*/

.exercises h1{
margin-top:-0.2rem;
    font-family: 'mulish', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
}

/*Exercises Blurbs + Links*/

.exercises p{
    margin: 4rem;
    max-width:max-content;
     background-color: rgb(247, 234, 219);
    border-radius: 3rem;
    padding: 2rem;
    align-content: center;
    text-align: left;
    max-width: 70rem;
    max-height: fit-content;
}

.exercises a{
    text-align:center;
    align-content: center;
    display: block;
    background-color: rgb(247, 234, 219);
    border-radius: 30rem;
    padding: 1rem;
    max-width:max-content;
    margin:auto;
}
.exercises a:link{
    color: rgb(77, 41, 178);
}
.exercises a:hover{
    color:rgba(0, 27, 110, 0.852);
}

/*Exercises Footer*/
.exercisesfooter{
 background-color:rgb(141, 132, 156);
    align-items: center;
    color: rgb(48, 44, 73);
    padding: 8px;
    align-items: center;
    display: flex;
    gap:0.5rem;
    margin:0;
    }