.indexwrapper{
    display:grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 2fr 2fr;
    min-height: 100vh;
    background-image: url('../images/backgroundimage.jpg');
    background-size: cover;
}



/*Navigation Bar*/
nav li{
    list-style-type: none;
    background-color: rgba(98, 121, 142, 0.676);
    margin: 1rem;
    padding:15px;
    border-radius: 10%;
    opacity: 0.9;

    }

nav a {
    text-decoration: none;
    color: rgb(230, 225, 225);
    font-size: 1.1rem;
    }

nav a:hover{
    color:rgb(172, 173, 174);
    
    }

nav ul{
    display:flex;
    justify-content:center;
    background-color:rgb(141, 132, 156);
    padding: 15px;
    margin: 0;
    flex-wrap: wrap;

}

ul li ul{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    top: 100%;
    left: 0;
    display: none;
    align-content: center;
    padding: 0;
    margin: 0;


}
ul li{
    position: relative;
}

ul li:hover>ul,
ul li:focus-within > ul,
ul li ul:hover{
    visibility: visible;
    opacity: 1;
    display: block;
    max-width: fit-content;

}
ul li ul li {
  clear: both;
  width: 100%;
  text-align: center;
  max-width: fit-content;
}
/*Heading + Blurb*/
h1{
    text-align:center;
    margin: 0;
    color:rgb(21, 108, 146);
    font-size:100px;
    grid-row-start:1;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end:4;
    margin-bottom: 0;
    align-content: center;
    margin-top: 2rem;
    font-family: "Mulish", FingerPaint, Arial;
    }

.homep{
    color:rgb(255, 255, 255);
 grid-row-start: 2;
 grid-row-end: 3;
 grid-column-start: 1;
 grid-column-end:  4;
 align-self: end;
 text-align:center;
 justify-self: center;
 background-color:rgb(113, 145, 186);
border-radius: 2rem;
padding: 6px;
margin-bottom: 4rem;
opacity: 0.9;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


/*Home Footer*/
.homefooter footer{
    background-color:rgb(141, 132, 156);
    align-items: center;
    color: rgb(48, 44, 73);
    padding: 8px;
    align-items: center;
    display: flex;
    gap:0.5rem;
  
    }

/* Social Media Icons*/

 a.fa-linkedin{
    border-radius: 6px;
    border: 2px solid rgb(37, 107, 154); 
    padding:4px;
    background-color: rgb(37, 107, 154);
    color:white;
}

a.fa-envelope{
    border-radius: 6px;
    color: rgb(214, 220, 224);
    padding: 4px;

}

/*About Me Wrapper*/
.aboutmewrapper{
    min-height: 88vh;
    background-color:rgba(216, 199, 199, 0.803);
    
   
}
/*About Me Heading*/
.aboutmeheading h1{
font-size: 50px;
color:rgb(21, 108, 146);
margin-top:0;
    font-family: 'mulish', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/*About Me Image*/
.aboutmeimage img{
width:400px;
float: left;
 border: 2px #f5f1f1 solid; 
 margin-right: 2rem;
 

}
/*About Me Paragraph*/
.aboutmep {
    margin-top:2rem;
    background:rgb(215, 180, 180);
    padding: 2rem;
    font-family: 'mulish', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*About Me Footer*/
.aboutmefooter footer{
 background-color:rgb(141, 132, 156);
    align-items: center;
    color: rgb(48, 44, 73);
    padding: 8px;
    align-items: center;
    display: flex;
    gap:0.5rem;
    margin-top:19rem;
    }

/* Social Media Icons*/

 a.fa-linkedin{
    border-radius: 6px;
    border: 2px solid rgb(37, 107, 154); 
    padding:4px;
    background-color: rgb(37, 107, 154);
    color:white;
}

a.fa-envelope{
    border-radius: 6px;
    color: rgb(214, 220, 224);
    padding: 4px;
}

/*Portfolio Wrapper*/

.portfoliowrapper{
    background-color:rgba(216, 199, 199, 0.803);
    overflow: hidden;
    

/*Portfolio Heading*/
}
.portfolioh1{
    margin-top:0;
    font-family: 'mulish', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
 /*Portfolio Blurb*/
 .portfolioblurb{
 align-self: end;
 text-align:center;
 justify-self: center;
 font-family: 'mulish', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 

    
/*Portfolio First Paragraph*/
 .portfoliop1{
align-self: end;
 text-align:center;
 justify-self: center;
 background-color: rgb(215, 180, 180);
 padding: 6px;
 border-radius: 20px;
 max-width: 65rem;
 }

 /*Portfolio Second Paragraph*/
  .portfoliop2{
    align-self: end;
 text-align:center;
 justify-self: center;
 background-color:#fceae6;;
 padding: 2px;
 border-radius: 20px;
 }

/*Portfolio Third Paragraph*/
  .portfoliop3{
    align-self: end;
 text-align:center;
 justify-self: center;
 background-color:#fceae6;
 padding: 2px;
 border-radius: 20px;
 }


/*Portfolio Links.  STILLLLLLLLLLL WORKIIINNG. ONNNN. ADDD FOOTER TOOOOOOOOOOOO*/




/*Resume Wrapper*/
.resumewrapper{
    min-height: 100vh;
    background-color:rgba(216, 199, 199, 0.803);
    
}

.resumeheading{
    margin-top:0;
}